:root {
  --primaryColor: linear-gradient(
    to right,
    rgb(109, 1, 109),
    rgb(229, 30, 76),
    yellow
  );
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(246, 244, 246);
  font-family: sans-serif;
}

/* buttons */
button {
  margin-right: 20px;
  cursor: pointer;
  background-color: white;
  padding: 5px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  border-color: white;
  background-image: var(--primaryColor);
}
/* navigation bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px grey;
}
.logo h1 {
  font-size: 50px;
  background: var(--primaryColor);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 20px;
}
.nav-links a {
  font-size: 25px;
  /* font-weight: bold; */
  color: black;
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  padding: 0 5px 5px 5px;
  background: var(--primaryColor) left bottom rgb(246, 244, 246) no-repeat;
  background-size: 100% 5px;
  border-radius: 10px;
}
/* ul toggle */
.ul-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.ul-toggle li {
  list-style: none;
  margin: 10px;
}
.ul-toggle li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px 5px 5px;
  background: var(--primaryColor) left bottom rgb(246, 244, 246) no-repeat;
  background-size: 100% 5px;
  border-radius: 10px;
}
/* welcome */

.welcome {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
}
/* sections */
.section {
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 20px;
}
.title {
  display: inline;
  background: var(--primaryColor);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/* my work */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  background-color: rgb(246, 244, 246);
  text-align: center;
  width: 40%;
  min-width: 300px;
  min-height: 550px;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card img {
  width: 80%;
  height: auto;
  border-radius: 4px;
}
.card p {
  margin: 20px;
  line-height: 1.5rem;
  text-align: justify;
}
.card-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-btn {
  margin: 10px;
}
/* class to hide element */
.hidden {
  display: none;
}
@media screen and (max-width: 780px) {
  .nav-links a {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  .toggle-btn {
    display: none;
  }
  .ul-toggle {
    display: none;
  }
}
